@media (min-width: 450px) {
  .container__starGame {
    .screenStart {
      .cardsDinaTeo {
        flex-direction: row;
        gap: 40px;
        margin-bottom: 10px;
        .cardDina--reduceSize {
          width: 120px;
          height: 120px;
        }
        .cardteo--reduceSize {
          width: 120px;
          height: 120px;
        }
      }
      .msjGame {
        width: 60%;
      }
      .options {
        gap: 10px;
        .optionsCards {
          width: 90px;
          height: 110px;
        }
      }
    }
  }
  .container__endGame {
    .infoEngGame {
      width: 60%;
      .starContainer {
        gap: 10px;
        img {
          width: 35px;
        }
      }
    }
  }
}

@media (min-width: 750px) {
  .container__infoGame {
    .acesLogo {
      img {
        width: 100px;
      }
    }
    .infoGame {
      width: 80%;
      flex-direction: row;
      .bookImg {
        img {
          width: 180px;
          margin-bottom: 0;
        }
      }
      .detailsGame {
        padding: 0 30px;
      }
    }
  }

  .container__starGame {
    .screenStart {
      .screenStart__msj {
        width: 50%;
      }
      .cardsDinaTeo {
        .cardDina--reduceSize {
        }
        .cardteo--reduceSize {
        }
      }
      .msjGame {
      }
      .options {
        .optionsCards {
        }
      }
    }
  }
  .container__endGame {
    .infoEngGame {
      width: 50%;
    }
  }
}

@media (min-width: 1100px) {
  .container__infoGame {
    .acesLogo {
      margin-bottom: 50px;
      img {
        width: 100px;
      }
    }
    .infoGame {
      .bookImg {
        img {
          width: 190px;
        }
      }
      .detailsGame {
        .buttonStar {
          .infoBtn__star {
            width: 60%;
          }
        }
      }
    }
  }

  .container__starGame {
    .logobook {
      img {
        width: 220px;
      }
    }
    .screenStart {
      .screenStart__msj {
        width: 40%;
        h2 {
          font-size: 1.2em;
        }
      }
      .cardsDinaTeo {
        .cardDina--reduceSize {
          width: 130px;
          height: 130px;
        }
        .cardteo--reduceSize {
          width: 130px;
          height: 130px;
        }
      }
      .msjGame {
        width: 40%;
        h2 {
          font-size: 1.2em;
        }
      }
      .options {
        .optionsCards {
          width: 110px;
          height: 130px;
        }
      }
    }
  }
  .container__endGame {
    margin-top: 20px;
    .infoEngGame {
      width: 30%;
    }
  }
}

@media (min-width: 1540px) {
  .container__infoGame {
    .acesLogo {
      margin: 0;
      img {
        width: 120px;
      }
    }
    .infoGame {
      .bookImg {
        img {
        }
      }
      .detailsGame {
        .buttonStar {
          .infoBtn__star {
          }
        }
      }
    }
  }

  .container__starGame {
    .screenStart {
      .screenStart__msj {
        width: 30%;
        h2 {
        }
      }
      .cardsDinaTeo {
        .cardDina--reduceSize {
          width: 140px;
          height: 140px;
        }
        .cardteo--reduceSize {
          width: 140px;
          height: 140px;
        }
      }
      .msjGame {
        width: 35%;
        h2 {
        }
      }
      .options {
        .optionsCards {
          width: 130px;
          height: 150px;
        }
      }
    }
  }
  .container__endGame {
    .infoEngGame {
      width: 20%;
    }
  }
}
